body {
    font-size: 2.5rem;
}

ul, ol {
    padding: 0%;
}

li {
    margin-left: 3.5rem;
}

.tag {
    border: solid 0.3rem;
    margin: 0.3rem;
}

.tag label {
    color: #fff;
    font-size: 1.5rem;
    vertical-align: top;
    margin-right: 0.625rem;
    padding: 0rem 0.3rem 0.1rem 0.1rem;
}